body {
    font-family: monospace;
}

.flex {
    display: flex;
}

.origin {
    width: 700px;
    padding: 20px;
    font-size: 25px;
    border: solid;
}

.title h1 {
    text-align: center;
    margin: auto;
}

.start {
    margin-top: 10px;
    text-align: center;
    user-select: none;
}

.title h2 {
    display: inline-block;
    padding: 10px;
    border: 3px solid black;
}

.main {
    white-space: nowrap;
}

.answer {
    padding-left: 15px;
}

.score h2, .timer h1 {
    padding-left: 10px;
}

.tap {
    user-select: none;
}

.number, .function {
    margin: 20px;
    width: 700px;
    border: solid;
}

.number div {
    width: 100%;
    border: solid;
}

.tap h2 {
    text-align: center;
}

.function div {
    width: 100%;
    border: solid;
}