body{
    font-family: monospace;
    font-size: 25px;
}

.flex{
    display: flex;
}

.origin{
    width: 700px;
    padding: 20px;
    border: solid;
}
.title h1{
    text-align: center;
    margin: auto;
}
.start{
    margin-top: 10px;
    text-align: center;
    user-select: none;
}
.title h2{
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
}

.main{
    white-space: nowrap;
}
.answer{
    padding-left: 15px;
}